<h1>User</h1>
<table class="table">
  <tr>
    <td>Full Name </td>
    <td>Handle </td>
    <td>Email </td>
  </tr>
  <tr>
    <td><%= @user.realName %> </td>
    <td><%= @user.handle %></td>
    <td><%= @user.email %></td>
  </tr>
</table>